* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    background-color: antiquewhite;
}

#myParagraph {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

button {
    cursor: pointer;
}

#myFirstbtn {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    background-color: #000;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
}

.buttonText {
    color: #fff;
    margin-left: 5px;
}

.buttonText2 {
    color: #fff;
    margin-left: 5px;
}

#mySecondbtn {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    background-color: #000;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
}